body{
    background-image: url("https://esoterismos.com/wp-content/uploads/2010/10/magia-tipos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    text-align: center;
}

#spellArea{
    border: 2px solid;
    height: 300px;
    width: 50vw;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
}

button{
    border: 2px solid;
    margin-top: 20px;
    border-radius: 2px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    color: white;
}


#generateButton{
    background-color: rgb(104, 206, 104);
    margin-left: 150px;
}

#resetButton{
    background-color: orange;
    margin-left: 940px;
}

#ingredientsList{
    margin-left: 30px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#ingredientsList li{
    font-weight: bolder;
}